@model MappingSearch.Models.ViewModels.Reviews.ReviewProductViewModel

<div class="row">
    <div class="row">
        <h2><span class="capitalize">@Model.ProductInfo.ProductBrand </span>: @Model.ProductInfo.ProductTitle</h2>
    </div>
    <div class="row">
        <div class="span2 pull-left">
            <img src="@Model.ProductInfo.ProductImage" class="img thumbnail" />
        </div>
        <div class="span2 pull-left">
            @Html.Partial("~/Views/Review/AddReviewbutton.cshtml", Model.UserHasReviewed)
            
              <h4>Product Description:</h4>
                <p>@Model.ProductInfo.ProductDescription</p>
         </div>
     </div>
</div>

