@model MappingSearch.Models.Account.CreateAccountModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Account</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
             <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            <div class="alert alert-block">
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            <div class="alert alert-block">
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword)
            <div class="alert alert-block">
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            <div class="alert alert-block">
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentMotorcycle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurrentMotorcycle)
        </div>

        <p>
            <input type="submit" class="btn" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
