@model MappingSearch.Models.Account.LoginModel

@using(Html.BeginForm()){
         @Html.ValidationSummary(true)
        <div class="container">
            <div class="row">
                <div class="text-alert">
                    @Html.ValidationMessage("InValidLogin")
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    @Html.LabelFor(model=>model.UserName)
                    @Html.EditorFor(model=> model.UserName)
                    <div class="text-error">
                        @Html.ValidationMessageFor(model=> model.UserName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    @Html.LabelFor(model=>model.Password)
                    @Html.PasswordFor(model=>model.Password)
                    <div class="text-error">
                        @Html.ValidationMessageFor(model=> model.Password)
                    </div>
                </div>
            </div>   
            <div class="row">
                <div class="span1">
                    <input type="submit" class="btn btn-primary" value="Log In" />
                </div>
                <div class="span2">
                    <a href="/Account/Create?ReturnUrl=@HttpUtility.UrlEncode(Request.Params["ReturnUrl"])" >Create Account</a>
                </div>

                
            </div>
            <div class="row ">
                <div class="span3">
                    <span class="checkbox" ><label>Remember Me
                        @Html.CheckBoxFor(model=>model.RememberMe)
                        </label>
                    </span>
                    
                </div>
            </div>
        </div>
        
    }