<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    

    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/backbone")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    @Styles.Render("~/Content/css")
    <style type="text/css">
        .row {
            margin-left:0px;
        }
    </style>
</head>
<body>
    <div id="page" class="rounded-corners-all container">
    <div class="clearfix">
        <nav class="navbar navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href="/">Motorcyclist Reviews </a>
                <ul class="nav nav-pills">
                    <li><a href="@MappingSearch.Constants.PathConstants.Pages.GearCategoryPath">Gear Reviews</a></li>
                    <li><a href="@MappingSearch.Constants.PathConstants.Pages.MotrocycleCategoryPath">Motorcycle Reviews</a></li>
                    <li><a href="@MappingSearch.Constants.PathConstants.Pages.TrackCategoryPath">Track Reviews</a></li>
                    @if (MappingSearch.Classes.CurrentUser.AdminLevel() == 99)
                    { 
                        <li><a href="@MappingSearch.Constants.PathConstants.Pages.AdminPath">Admin</a></li>
                    }
                </ul>
                <div class="pull-right">
                    @if(ViewBag.LoggedIn != null && ViewBag.LoggedIn){
                        <label>Welcome, @ViewBag.CurrentUser</label>
                        <a href="#" id="logoutButton">Log Out</a>
                    }else{
                        <a href="@MappingSearch.Constants.PathConstants.Pages.AccountLoginPath">Log In</a>
                    }
                </div>  
            </div>
            
        </nav>
    </div>
    
    <div class="">
        @RenderBody()
        
    </div>
         <footer>
            <div class="footer text-center">
                <div class="container narrow row-fluid">
                    <p>&copy; Motorcycle Review 2013</p>
                </div>
            </div>
        </footer>

   
      
      

    @RenderSection("scripts", required: false)
    </div>
</body>
</html>
