<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    

    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/backbone")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="page" class="rounded-corners-all container">
    <div class="clearfix">
        <nav class="navbar navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href="/">Mapping Search</a>
                <ul class="nav nav-pills">
                    @*<li><a href="/">Home</a></li>
                    <li><a href="/AddLocation/Index">Add Location</a></li>*@
                    <li><a href="/Reviews/Category/Gear">Gear Reviews</a></li>
                    <li><a href="/Reviews/Category/Tracks">Track Reviews</a></li>
                </ul>
                <div class="pull-right">
                    @if(ViewBag.LoggedIn != null && ViewBag.LoggedIn){
                        <label>Welcome, @ViewBag.CurrentUser</label>
                        <a href="#" id="logoutButton">Log Out</a>
                    }else{
                        <a href="/Account/Login">Log In</a>
                    }
                </div>  
            </div>
            
        </nav>
    </div>
    
    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
    </div>
</body>
</html>
